name: Publish package

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC authentication with npm trusted publishers
  contents: read # Required to read repository contents

jobs:
  build:
    name: Test and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node & npm
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - run: pnpm install

      # - name: Run tests
      #   run: pnpm test run

      - name: Build
        run: pnpm build

      - name: Cache build artifacts
        uses: actions/cache@v4
        with:
          path: "**/dist"
          key: build-artifacts-${{ github.sha }}

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore build artifacts
        uses: actions/cache@v4
        with:
          path: "**/dist"
          key: build-artifacts-${{ github.sha }}

      - name: Setup node & npm
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install npm@latest
        run: npm install -g npm@latest

      - name: Publish to NPM
        run: npm publish . --access=public --no-git-checks

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: publish
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            Version ${{ github.ref }}
          draft: false
          prerelease: false
